{#
/**
 * @file
 * Template for the built_by block.
 * Available variables:
 * - link_text
 * - attributes
 * - url
 * - message
 * - link_attributes
 *
 * @see template_preprocess_built_by()
 *
 * @ingroup themable
 */
#}

<div{{ attributes }}>{{ message }} {{ link(link_text, url, link_attributes) }}</div>
